.card_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: $primary-color; // Negro
    border: 1px solid $secondary-color; // Gris claro
    border-radius: $border-radius; // Usar la variable global
    padding: 20px; // Espaciado
    margin: 20px;
    max-width: 300px;
    max-height: 450px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease; // Transición más rápida
    
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Agregar sombra al pasar el cursor
    }
    
    // Estilos responsivos
    @include responsive-layout(768px) {
      width: 150px; // Ajustar el ancho
      height: fit-content;
    }
    
    @include responsive-layout(480px) {
      width: 120px;
      height: fit-content;
    }
  }
  
  .pokemon_types {
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  
  .pokemon_type {
    display: inline-block;
    background-color: $secondary-color; // Gris claro
    color: $primary-color;
    border-radius: $border-radius; // Usar la variable global
    padding: 4px 8px;
    margin: 4px;
    font-size: 14px;
  }

  .pokemon_image {
    max-width: 250px;
  }