.searchbar-container {
  background-color: $primary-color; // Fondo negro
  max-width: 80%;
  padding: 20px;
  border-radius: $border-radius;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); // Sombra sutil
  display: flex;
  flex-direction:row;

  gap: 1rem; // Espaciado entre elementos

  form {
    display: flex;
    gap: 1rem; // Espaciado entre el campo de texto y el botón
    align-items: center;

    .search-input {
      flex: 1;
      padding: 0.5rem;
      border: 1px solid $secondary-color;
      border-radius: $border-radius;
      background-color: $primary-color;
      color: $secondary-color;
      font-size: 1rem;
      transition: border-color 0.3s ease;

      &::placeholder {
        color: $text-color; // Color del texto del placeholder
      }

      &:focus {
        border-color: $secondary-color;
        outline: none;
      }
    }

    .search-button {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: $border-radius;
      background-color: $secondary-color;
      color: $primary-color;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $text-color; // Color gris claro al pasar el ratón
        color: $primary-color;
      }
    }
  }

  .filter-container {
    display: flex;
    gap: 1rem; // Espaciado entre los selectores
    flex-wrap: wrap;

    .filter-select {
      padding: 0.5rem;
      border: 1px solid $secondary-color;
      border-radius: $border-radius;
      background-color: $primary-color;
      color: $secondary-color;
      font-size: 1rem;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: $secondary-color;
        outline: none;
      }
    }
  }
}

// Media queries para ajustar el diseño en diferentes tamaños de pantalla
@media (max-width: 768px) {
  .searchbar-container {
    padding: 0.5rem;
    form {
      flex-direction: row;
      gap: 0.5rem; // Espaciado reducido en pantallas pequeñas
    }
    .filter-container {
      flex-direction: column;
    }
  }
}
  