
.detail-page {
  display: flex;
  flex-direction: row;
  padding: 50px 50px;
  align-items: center;
  width: 80%;
  background-color: $primary-color; 
  border-radius: $border-radius;
  margin: 20px 50px;


p {
  font-family: $body-font;
  font-size: $base-font-size; 
  font-weight: bolder;
  color: $secondary-color;
  justify-content: center;
}

.pokemon-detail-types {
  display: flex;
  justify-content: center;
  margin: 10px;

  .pokemon-detail-type {
    background-color: $secondary-color; // Gris claro
    color: $primary-color;
    border-radius: $border-radius; 
    padding: 8px;
    margin: 25px;
    font-size: 18px;
  }
}

.pokemon_stats {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  //justify-content:center;
  width: 200px;
  margin: 25px;
}
.pokemon-detail-image {
  max-width: 25%; 
  border-radius: $border-radius; 
  margin: 25px; 
}


   // Estilos responsivos
   @include responsive-layout(768px) {
    flex-direction: column;
    width: 150px; // Ajustar el ancho
    height: fit-content;
  }
  
  @include responsive-layout(480px) {
    width: 120px;
    height: fit-content;
  }
}


