.cards_container {
    background-color: $primary-color;
    width: 85%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-medium;
    border-radius: $border-radius;
    padding: $spacing-medium;

    @include responsive-layout(768px){
        width: 100%;
        padding: $spacing-small;
    }
}