// global.scss
@import 'variables';
@import 'mixins';

// Estilos globales
body {
  font-family: $body-font;
  color: $text-color;
  background: $background-color;
  margin: 0;
  padding: $spacing-medium;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $body-font;
  color: $text-color;
}

// enlaces
a {
  color: $secondary-color;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color:lighten($secondary-color, 10%);
  }
}

// Contenedor general
.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: $spacing-medium;
}

// Media queries para ajustar el diseño en diferentes tamaños de pantalla
@media (max-width: 768px) {
  .body {
    padding: $spacing-small;
  }

  .container {
    padding: $spacing-small;
  }
}

@media (max-width: 480px) {
  body {
    padding: $spacing-small;
  }

  .container {
    padding: $spacing-small;
  }
}





