// global.scss
@import 'variables';
@import 'mixins';

// Estilos globales
body {
  font-family: $body-font;
  color: $text-color;
  background: $background-color;
  margin: 0;
  padding: $spacing-medium;
}

// Media queries para ajustar el diseño en diferentes tamaños de pantalla
@media (max-width: 768px) {
  .card {
    padding: $spacing-small;
  }
}

@media (max-width: 480px) {
  body {
    padding: $spacing-small;
  }

  .cards-container {
    flex-direction: column;
    align-items: center;
  }
  .navbar {
    flex-direction: column; // Ajusta la dirección de la navbar
    align-items: flex-start;
  }
  
  .searchbar-container {
    width: 100%; // Asegúrate de que ocupe todo el ancho
  }
}





