// variables.scss
// Colores
$primary-color: #050505;
$secondary-color: #f4f5fa;
$background-color: #535253;
$text-color: #696d69;

// Fuentes y Tamaños
$body-font: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$heading-font: 'Avenir', 'Helvetica', sans-serif;
$base-font-size: 16px;

// Espaciado y Dimensiones
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;
$max-width: 1280px;

// Otros
$border-radius: 4px; // Definimos el border radius aquí si lo necesitas


